.button {
  font-size: .875rem;
  padding: 8px 12px;
  border-radius: 2px;
  cursor: pointer;

  // default button
  border: 1px solid $dark;
  background-color: $light-blue;
}

.button--primary {
  border: none;
  background-color: $primary;
  color: white;
  font-weight: bold;
  
  &:not(:disabled):hover {
    background-color: $primary-dark;
  }
}

.button:disabled {
  opacity: .5;
  cursor: default;
}

.button--loading {
  color: transparent;
  pointer-events: none;
  position: relative;
  &::after {
    @include loader;
    position: absolute;
    top: calc(50% - (1em / 2) - 2px);
    right: calc(50% - (1em / 2) - 2px);
  }
  
  &.button--primary::after {
    border-color: white;
  }
}

.button-reset {
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  &:focus {
    outline: none;
  }
}