@import '~normalize.css';
@import './variables.scss';
@import './buttons.scss';
@import './transitions.scss';
@import './inputs.scss';
@import './typography.scss';

html {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark;
}

body {
  margin: 0;
}