@import '~normalize.css';
@import './variables.scss';
@import './buttons.scss';
@import './transitions.scss';
@import './inputs.scss';
@import './typography.scss';

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

html {
  font-family: 'Maven Pro', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark;
  background-color: $background-color;
}

body {
  margin: 0;
}

html, body, .layout {
  height: 100%;
}