/* Do NOT output CSS in this file */

$background-color: #FFFFFF;
$primary: #187cf2;
$primary-dark: #0d73e7;
$primary-light: #95b9f4;
$dark: #282832;
$danger: #d62828;
$dim-grey: #625f63;

$blue-grey-1: #b8bbd1;
$blue-grey-2:#e2e4ec;
$light-grey: #E5E5E6;
$light-blue: #ECF4FE;

$header-height: 4rem;

/* 
  RESPONSIVENESS
  https://github.com/jgthms/bulma/blob/master/sass/utilities/initial-variables.sass
*/
// The container horizontal gap, which acts as the offset for breakpoints
$gap: 32px !default;
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default;
// 960px container + 4rem
$desktop: 960px + (2 * $gap) !default;
// 1152px container + 4rem
$widescreen: 1152px + (2 * $gap) !default;
$widescreen-enabled: true !default;
// 1344px container + 4rem
$fullhd: 1344px + (2 * $gap) !default;
$fullhd-enabled: true !default;